builds/build-server/newOrder.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Orders">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Order">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="IdOrder" type="xs:string"/>
            <xs:element name="repair" type="xs:string"/>
            <xs:element name="Phone" type="xs:string"/>
            <xs:element name="Action" type="xs:string"/>  
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
